@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&display=swap");

/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 100 to 700 */

.roboto-slab-hero {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.roboto-slab-medium {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.roboto-slab-thin {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.roboto-mono-title {
  font-family: "Roboto Mono", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.roboto-mono-section {
  font-family: "Roboto Mono", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.roboto-mono-text {
  font-family: "Roboto Mono", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.lobster-regular {
  font-family: "Lobster", serif;
  font-weight: 400;
  font-style: normal;
}
