@import "./styles/hero.css";
@import "./styles/skills.css";
@import "./styles/experience.css";
/* @import "./styles/education.css"; */
@import "./styles/projects.css";
@import "./styles/fonts.css";
/* @import "./styles/navbar.css"; */

@tailwind base;
@tailwind components;
@tailwind utilities;

.section-font {
  @apply lobster-regular;
}

/* ---- custom outlined-text utilities ---- */
@layer utilities {
  .text-outline-white {
    -webkit-text-stroke: 2px #ffffff; /* width + colour */
  }
  .text-outline-black {
    -webkit-text-stroke: 2px #000000;
  }
  /* …add more as needed */
}

/* globals.css (or wherever you include base layers) */
:root {
  --color-primary: #f0f4f8;
  --color-secondary: #abeeaa;
  --color-accent: #ff9a52;
  --color-typo: #0f0f0f;
}

/* @media (prefers-color-scheme: dark) { */
/* :root { */
/* DARK */
/* --color-primary: #102c3a; */
/* --color-secondary: #2677a8; */
/* --color-accent: #cfa338; */
/* --color-typo: #f2f2f2; */
/* } */
/* } */
